*~
results-*
FR-*
HD
Schiz
.gradle
build
buildOutputCleanup
mods
*.pathsequences.fasta
*.lock
*.log
*.bin
*.png
*.dotfastaPos.txt
*.frs.txt
*.labelcounts.txt
*.nodehistogram.txt
*.nodepaths.txt
*.nodes.txt
*.params.txt
*.pathfrs.txt
*.pathpca.txt
*.paths.txt
*.subpaths.txt
*.svm.txt
*.svm.*.txt
