*~
results-*
HD
Schiz
Vandy
.gradle
build
buildOutputCleanup
*.tar.gz
*.pathsequences.fasta
*.lock
*.log
*.bin
*.png
*.pdf
*.dotfastaPos.txt
*.frs.txt
*.save.txt
*.labelcounts.txt
*.nodehistogram.txt
*.nodepaths.txt
*.nodes.txt
*.params.txt
*.pathfrs.txt
*.pathpca.txt
*.paths.txt
*.subpaths.txt
*.svm.txt
*.svm.*.txt
*.arff
*.crossvalidation.txt
